# Imports

In [58]:
import pandas as pd
import numpy as np

# Use Dataset

In [59]:
df = pd.read_csv('dataset/mobile_addiction_data.csv')

df.head()

,User_ID,Country,Age,Gender,Occupation,Education_Level,Income_USD,Daily_Screen_Time_Hours,Phone_Unlocks_Per_Day,Social_Media_Usage_Hours,Gaming_Usage_Hours,Streaming_Usage_Hours,Messaging_Usage_Hours,Work_Related_Usage_Hours,Sleep_Hours,Physical_Activity_Hours,Mental_Health_Score,Depression_Score,Anxiety_Score,Stress_Level,Relationship_Status,Has_Children,Urban_or_Rural,Time_Spent_With_Family_Hours,Online_Shopping_Hours,Internet_Connection_Type,Primary_Device_Brand,Has_Screen_Time_Management_App,Self_Reported_Addiction_Level,Monthly_Data_Usage_GB,Has_Night_Mode_On,Age_First_Phone,Push_Notifications_Per_Day,Tech_Savviness_Score
0,1,India,32,Male,Salesperson,High School,43865.49,5.81,75,0.84,-1.55,3.36,1.44,2.14,5.22,1.32,61.47,80.80,23.72,95.80,Single,No,Rural,1.70,1.85,5G,Other,No,Low,16.43,Yes,16,106,39.36
1,2,UK,26,Male,Artist,Master's,41868.19,9.05,61,3.13,2.50,0.80,2.42,1.44,6.23,0.66,96.11,98.99,39.72,25.03,In Relationship,No,Rural,0.90,0.66,4G,Samsung,Yes,Severe,32.87,No,12,111,9.45
2,3,Germany,70,Other,Doctor,High School,59636.51,5.76,58,2.12,1.96,1.84,1.98,1.92,6.57,1.93,73.68,44.64,94.47,99.54,Single,Yes,Urban,1.69,-0.14,WiFi,Samsung,Yes,Severe,27.45,No,18,90,50.27
3,4,UK,44,Female,Engineer,NaN,39022.07,6.71,80,1.60,2.70,1.90,2.43,1.82,7.27,0.94,53.42,10.89,5.03,66.49,In Relationship,No,Urban,1.11,0.17,3G,Apple,Yes,Moderate,30.85,No,17,60,30.82
4,5,Brazil,46,Other,Student,NaN,-783.98,6.31,136,1.51,1.73,1.48,1.30,1.76,5.43,1.04,67.01,37.54,17.29,14.72,Divorced,No,Urban,1.06,0.58,3G,Xiaomi,No,High,10.38,Yes,18,127,21.70

In [60]:
print("Number of rows::",df.shape[0])
print("Number of columns::",df.shape[1])
print ("Column Names &  Data Types::\n",df.dtypes)

Number of rows:: 3000
Number of columns:: 34
Column Names &  Data Types::
 User_ID                             int64
Country                            object
Age                                 int64
Gender                             object
Occupation                         object
Education_Level                    object
Income_USD                        float64
Daily_Screen_Time_Hours           float64
Phone_Unlocks_Per_Day               int64
Social_Media_Usage_Hours          float64
Gaming_Usage_Hours                float64
Streaming_Usage_Hours             float64
Messaging_Usage_Hours             float64
Work_Related_Usage_Hours          float64
Sleep_Hours                       float64
Physical_Activity_Hours           float64
Mental_Health_Score               float64
Depression_Score                  float64
Anxiety_Score                     float64
Stress_Level                      float64
Relationship_Status                object
Has_Children                       object
Urban_or_Rural                     object
Time_Spent_With_Family_Hours      float64
Online_Shopping_Hours             float64
Internet_Connection_Type           object
Primary_Device_Brand               object
Has_Screen_Time_Management_App     object
Self_Reported_Addiction_Level      object
Monthly_Data_Usage_GB             float64
Has_Night_Mode_On                  object
Age_First_Phone                     int64
Push_Notifications_Per_Day          int64
Tech_Savviness_Score              float64
dtype: object

In [50]:
print("Columns with Missing Values::", df.columns[df.isnull().any()].tolist())
print("Number of rows with Missing Values::", df.isnull().any(axis=1).sum())
print("Sample Indices with missing data::", df.isnull().any(axis=1).to_numpy().nonzero()[0].tolist()[0:10])

Columns with Missing Values:: ['Education_Level']
Number of rows with Missing Values:: 612
Sample Indices with missing data:: [3, 4, 8, 16, 18, 40, 44, 45, 55, 66]

In [67]:
print("General Statistics::\n")
print(df.info())

print("Summary Statistics::\n")
print(df.describe(include='all'))

General Statistics::

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        3000 non-null   object
 1   Age                            3000 non-null   int64
 2   Gender                         3000 non-null   object
 3   Occupation                     3000 non-null   object
 4   Education_Level                2388 non-null   object
 5   Income_USD                     3000 non-null   float64
 6   Daily_Screen_Time_Hours        3000 non-null   float64
 7   Phone_Unlocks_Per_Day          3000 non-null   int64
 8   Social_Media_Usage_Hours       3000 non-null   float64
 9   Gaming_Usage_Hours             3000 non-null   float64
 10  Streaming_Usage_Hours          3000 non-null   float64
 11  Messaging_Usage_Hours          3000 non-null   float64
 12  Work_Related_Usage_Hours       3000 non-null   float64
 13  Sleep_Hours                    3000 non-null   float64
 14  Physical_Activity_Hours        3000 non-null   float64
 15  Mental_Health_Score            3000 non-null   float64
 16  Depression_Score               3000 non-null   float64
 17  Anxiety_Score                  3000 non-null   float64
 18  Stress_Level                   3000 non-null   float64
 19  Relationship_Status            3000 non-null   object
 20  Has_Children                   3000 non-null   object
 21  Urban_or_Rural                 3000 non-null   object
 22  Time_Spent_With_Family_Hours   3000 non-null   float64
 23  Online_Shopping_Hours          3000 non-null   float64
 24  Self_Reported_Addiction_Level  3000 non-null   object
 25  Monthly_Data_Usage_GB          3000 non-null   float64
 26  Age_First_Phone                3000 non-null   int64
 27  Push_Notifications_Per_Day     3000 non-null   int64
 28  Tech_Savviness_Score           3000 non-null   float64
dtypes: float64(17), int64(4), object(8)
memory usage: 679.8+ KB
None
Summary Statistics::

       Country          Age Gender  Occupation Education_Level    Income_USD  \
count     3000  3000.000000   3000        3000            2388   3000.000000
unique      10          NaN      3           8               4           NaN
top      Japan          NaN   Male  Unemployed     High School           NaN
freq       317          NaN   1047         392             621           NaN
mean       NaN    41.307333    NaN         NaN             NaN  29779.511047
std        NaN    17.052345    NaN         NaN             NaN  15377.473743
min        NaN    12.000000    NaN         NaN             NaN -25622.660000
25%        NaN    27.000000    NaN         NaN             NaN  19482.705000
50%        NaN    42.000000    NaN         NaN             NaN  30002.710000
75%        NaN    56.000000    NaN         NaN             NaN  40352.017500
max        NaN    70.000000    NaN         NaN             NaN  79829.550000

        Daily_Screen_Time_Hours  Phone_Unlocks_Per_Day  \
count                3000.00000            3000.000000
unique                      NaN                    NaN
top                         NaN                    NaN
freq                        NaN                    NaN
mean                    5.98512              79.702000
std                     2.01593              25.147962
min                     0.00000               0.000000
25%                     4.59750              63.000000
50%                     5.98000              80.000000
75%                     7.30250              96.000000
max                    12.87000             182.000000

        Social_Media_Usage_Hours  Gaming_Usage_Hours  Streaming_Usage_Hours  \
count                3000.000000         3000.000000            3000.000000
unique                       NaN                 NaN                    NaN
top                          NaN                 NaN                    NaN
freq                         NaN                 NaN                    NaN
mean                    1.996637            1.518373               1.991227
std                     0.963854            0.935186               0.981151
min                    -0.000000           -0.000000              -0.000000
25%                     1.340000            0.810000               1.290000
50%                     2.010000            1.510000               2.010000
75%                     2.640000            2.180000               2.650000
max                     5.050000            4.860000               5.180000

        Messaging_Usage_Hours  Work_Related_Usage_Hours  Sleep_Hours  \
count             3000.000000               3000.000000  3000.000000
unique                    NaN                       NaN          NaN
top                       NaN                       NaN          NaN
freq                      NaN                       NaN          NaN
mean                 1.489287                  2.003127     6.492713
std                  0.508468                  0.953721     0.993489
min                  0.000000                  0.000000     2.810000
25%                  1.140000                  1.340000     5.840000
50%                  1.500000                  1.980000     6.480000
75%                  1.840000                  2.670000     7.160000
max                  3.070000                  5.260000    10.320000

        Physical_Activity_Hours  Mental_Health_Score  Depression_Score  \
count               3000.000000          3000.000000       3000.000000
unique                      NaN                  NaN               NaN
top                         NaN                  NaN               NaN
freq                        NaN                  NaN               NaN
mean                   1.001583            50.045053         50.343517
std                    0.486385            28.738761         29.003991
min                   -0.000000             0.000000          0.040000
25%                    0.650000            25.317500         25.665000
50%                    1.010000            50.630000         50.155000
75%                    1.330000            75.120000         75.420000
max                    2.800000            99.970000         99.830000

        Anxiety_Score  Stress_Level Relationship_Status Has_Children  \
count     3000.000000   3000.000000                3000         3000
unique            NaN           NaN                   4            2
top               NaN           NaN             Married          Yes
freq              NaN           NaN                 782         1506
mean        49.918940     49.383413                 NaN          NaN
std         29.041927     28.588983                 NaN          NaN
min          0.010000      0.040000                 NaN          NaN
25%         24.670000     24.260000                 NaN          NaN
50%         50.125000     48.800000                 NaN          NaN
75%         75.400000     74.422500                 NaN          NaN
max        100.000000     99.880000                 NaN          NaN

       Urban_or_Rural  Time_Spent_With_Family_Hours  Online_Shopping_Hours  \
count            3000                   3000.000000            3000.000000
unique              2                           NaN                    NaN
top             Urban                           NaN                    NaN
freq             1505                           NaN                    NaN
mean              NaN                      1.463247               0.803117
std               NaN                      0.777342               0.478419
min               NaN                     -0.000000              -0.000000
25%               NaN                      0.920000               0.460000
50%               NaN                      1.450000               0.780000
75%               NaN                      1.990000               1.130000
max               NaN                      4.520000               2.600000

       Self_Reported_Addiction_Level  Monthly_Data_Usage_GB  Age_First_Phone  \
count                           3000            3000.000000      3000.000000
unique                             4                    NaN              NaN
top                             High                    NaN              NaN
freq                             764                    NaN              NaN
mean                             NaN              24.891760        13.954000
std                              NaN               9.734451         3.736202
min                              NaN               0.000000         8.000000
25%                              NaN              18.302500        11.000000
50%                              NaN              25.045000        14.000000
75%                              NaN              31.462500        17.000000
max                              NaN              54.850000        20.000000

        Push_Notifications_Per_Day  Tech_Savviness_Score
count                  3000.000000           3000.000000
unique                         NaN                   NaN
top                            NaN                   NaN
freq                           NaN                   NaN
mean                     99.066667             49.457427
std                      30.284329             28.842681
min                       0.000000              0.010000
25%                      79.000000             23.665000
50%                      99.000000             49.150000
75%                     119.000000             74.137500
max                     204.000000             99.940000

In [62]:
# drop unnecessary columns
df = df.drop(columns=[
    'User_ID',
    'Primary_Device_Brand',
    'Internet_Connection_Type',
    'Has_Screen_Time_Management_App',
    'Has_Night_Mode_On'
], errors='ignore')

df.head()

,Country,Age,Gender,Occupation,Education_Level,Income_USD,Daily_Screen_Time_Hours,Phone_Unlocks_Per_Day,Social_Media_Usage_Hours,Gaming_Usage_Hours,Streaming_Usage_Hours,Messaging_Usage_Hours,Work_Related_Usage_Hours,Sleep_Hours,Physical_Activity_Hours,Mental_Health_Score,Depression_Score,Anxiety_Score,Stress_Level,Relationship_Status,Has_Children,Urban_or_Rural,Time_Spent_With_Family_Hours,Online_Shopping_Hours,Self_Reported_Addiction_Level,Monthly_Data_Usage_GB,Age_First_Phone,Push_Notifications_Per_Day,Tech_Savviness_Score
0,India,32,Male,Salesperson,High School,43865.49,5.81,75,0.84,-1.55,3.36,1.44,2.14,5.22,1.32,61.47,80.80,23.72,95.80,Single,No,Rural,1.70,1.85,Low,16.43,16,106,39.36
1,UK,26,Male,Artist,Master's,41868.19,9.05,61,3.13,2.50,0.80,2.42,1.44,6.23,0.66,96.11,98.99,39.72,25.03,In Relationship,No,Rural,0.90,0.66,Severe,32.87,12,111,9.45
2,Germany,70,Other,Doctor,High School,59636.51,5.76,58,2.12,1.96,1.84,1.98,1.92,6.57,1.93,73.68,44.64,94.47,99.54,Single,Yes,Urban,1.69,-0.14,Severe,27.45,18,90,50.27
3,UK,44,Female,Engineer,NaN,39022.07,6.71,80,1.60,2.70,1.90,2.43,1.82,7.27,0.94,53.42,10.89,5.03,66.49,In Relationship,No,Urban,1.11,0.17,Moderate,30.85,17,60,30.82
4,Brazil,46,Other,Student,NaN,-783.98,6.31,136,1.51,1.73,1.48,1.30,1.76,5.43,1.04,67.01,37.54,17.29,14.72,Divorced,No,Urban,1.06,0.58,High,10.38,18,127,21.70

In [63]:
numeric_df = df.select_dtypes(include=[np.number])

negatives_mask = numeric_df < 0

negatives_count = negatives_mask.sum()

print("=== Negative Number Summary ===")
for col, count in negatives_count.items():
    if count > 0:
        print(f"{col}: {count} negative values")
    else:
        print(f"{col}: No negative values")

=== Negative Number Summary ===
Age: No negative values
Income_USD: 81 negative values
Daily_Screen_Time_Hours: 9 negative values
Phone_Unlocks_Per_Day: 1 negative values
Social_Media_Usage_Hours: 70 negative values
Gaming_Usage_Hours: 213 negative values
Streaming_Usage_Hours: 67 negative values
Messaging_Usage_Hours: 2 negative values
Work_Related_Usage_Hours: 53 negative values
Sleep_Hours: No negative values
Physical_Activity_Hours: 80 negative values
Mental_Health_Score: No negative values
Depression_Score: No negative values
Anxiety_Score: No negative values
Stress_Level: No negative values
Time_Spent_With_Family_Hours: 96 negative values
Online_Shopping_Hours: 181 negative values
Monthly_Data_Usage_GB: 16 negative values
Age_First_Phone: No negative values
Push_Notifications_Per_Day: 3 negative values
Tech_Savviness_Score: No negative values

In [64]:
# show rows that contain any negative numeric values
rows_with_negatives = df[negatives_mask.any(axis=1)]

rows_with_negatives.head()

,Country,Age,Gender,Occupation,Education_Level,Income_USD,Daily_Screen_Time_Hours,Phone_Unlocks_Per_Day,Social_Media_Usage_Hours,Gaming_Usage_Hours,Streaming_Usage_Hours,Messaging_Usage_Hours,Work_Related_Usage_Hours,Sleep_Hours,Physical_Activity_Hours,Mental_Health_Score,Depression_Score,Anxiety_Score,Stress_Level,Relationship_Status,Has_Children,Urban_or_Rural,Time_Spent_With_Family_Hours,Online_Shopping_Hours,Self_Reported_Addiction_Level,Monthly_Data_Usage_GB,Age_First_Phone,Push_Notifications_Per_Day,Tech_Savviness_Score
0,India,32,Male,Salesperson,High School,43865.49,5.81,75,0.84,-1.55,3.36,1.44,2.14,5.22,1.32,61.47,80.80,23.72,95.80,Single,No,Rural,1.70,1.85,Low,16.43,16,106,39.36
2,Germany,70,Other,Doctor,High School,59636.51,5.76,58,2.12,1.96,1.84,1.98,1.92,6.57,1.93,73.68,44.64,94.47,99.54,Single,Yes,Urban,1.69,-0.14,Severe,27.45,18,90,50.27
4,Brazil,46,Other,Student,NaN,-783.98,6.31,136,1.51,1.73,1.48,1.30,1.76,5.43,1.04,67.01,37.54,17.29,14.72,Divorced,No,Urban,1.06,0.58,High,10.38,18,127,21.70
12,USA,18,Female,Engineer,Bachelor's,16430.69,5.01,75,1.12,0.69,1.26,1.63,1.11,7.42,1.40,88.70,58.26,24.99,23.15,Divorced,Yes,Urban,2.16,-0.23,Severe,29.76,8,112,37.84
17,Mexico,18,Male,Doctor,PhD,40513.10,6.06,68,1.38,-0.52,1.27,1.99,2.46,6.68,1.07,61.56,51.64,48.92,41.25,In Relationship,No,Urban,2.33,0.90,Severe,31.20,13,12,47.86

In [65]:
# replace all negative hours to 0
time_columns = [
    "Daily_Screen_Time_Hours",
    "Phone_Unlocks_Per_Day",
    "Social_Media_Usage_Hours",
    "Gaming_Usage_Hours",
    "Streaming_Usage_Hours",
    "Messaging_Usage_Hours",
    "Work_Related_Usage_Hours",
    "Sleep_Hours",
    "Physical_Activity_Hours",
    "Time_Spent_With_Family_Hours",
    "Online_Shopping_Hours",
    "Monthly_Data_Usage_GB",
    "Push_Notifications_Per_Day"
]

df[time_columns] = df[time_columns].clip(lower=0)

rows_with_negatives = df[negatives_mask.any(axis=1)]

rows_with_negatives.head()

,Country,Age,Gender,Occupation,Education_Level,Income_USD,Daily_Screen_Time_Hours,Phone_Unlocks_Per_Day,Social_Media_Usage_Hours,Gaming_Usage_Hours,Streaming_Usage_Hours,Messaging_Usage_Hours,Work_Related_Usage_Hours,Sleep_Hours,Physical_Activity_Hours,Mental_Health_Score,Depression_Score,Anxiety_Score,Stress_Level,Relationship_Status,Has_Children,Urban_or_Rural,Time_Spent_With_Family_Hours,Online_Shopping_Hours,Self_Reported_Addiction_Level,Monthly_Data_Usage_GB,Age_First_Phone,Push_Notifications_Per_Day,Tech_Savviness_Score
0,India,32,Male,Salesperson,High School,43865.49,5.81,75,0.84,0.00,3.36,1.44,2.14,5.22,1.32,61.47,80.80,23.72,95.80,Single,No,Rural,1.70,1.85,Low,16.43,16,106,39.36
2,Germany,70,Other,Doctor,High School,59636.51,5.76,58,2.12,1.96,1.84,1.98,1.92,6.57,1.93,73.68,44.64,94.47,99.54,Single,Yes,Urban,1.69,0.00,Severe,27.45,18,90,50.27
4,Brazil,46,Other,Student,NaN,-783.98,6.31,136,1.51,1.73,1.48,1.30,1.76,5.43,1.04,67.01,37.54,17.29,14.72,Divorced,No,Urban,1.06,0.58,High,10.38,18,127,21.70
12,USA,18,Female,Engineer,Bachelor's,16430.69,5.01,75,1.12,0.69,1.26,1.63,1.11,7.42,1.40,88.70,58.26,24.99,23.15,Divorced,Yes,Urban,2.16,0.00,Severe,29.76,8,112,37.84
17,Mexico,18,Male,Doctor,PhD,40513.10,6.06,68,1.38,0.00,1.27,1.99,2.46,6.68,1.07,61.56,51.64,48.92,41.25,In Relationship,No,Urban,2.33,0.90,Severe,31.20,13,12,47.86

In [66]:
# Select all rows that contains NaN value
nan_rows = df[df.isna().any(axis=1)]

print("=== Rows containing NaN values ===")
nan_rows.head()

=== Rows containing NaN values ===

,Country,Age,Gender,Occupation,Education_Level,Income_USD,Daily_Screen_Time_Hours,Phone_Unlocks_Per_Day,Social_Media_Usage_Hours,Gaming_Usage_Hours,Streaming_Usage_Hours,Messaging_Usage_Hours,Work_Related_Usage_Hours,Sleep_Hours,Physical_Activity_Hours,Mental_Health_Score,Depression_Score,Anxiety_Score,Stress_Level,Relationship_Status,Has_Children,Urban_or_Rural,Time_Spent_With_Family_Hours,Online_Shopping_Hours,Self_Reported_Addiction_Level,Monthly_Data_Usage_GB,Age_First_Phone,Push_Notifications_Per_Day,Tech_Savviness_Score
3,UK,44,Female,Engineer,NaN,39022.07,6.71,80,1.60,2.70,1.90,2.43,1.82,7.27,0.94,53.42,10.89,5.03,66.49,In Relationship,No,Urban,1.11,0.17,Moderate,30.85,17,60,30.82
4,Brazil,46,Other,Student,NaN,-783.98,6.31,136,1.51,1.73,1.48,1.30,1.76,5.43,1.04,67.01,37.54,17.29,14.72,Divorced,No,Urban,1.06,0.58,High,10.38,18,127,21.70
8,Nigeria,33,Other,Salesperson,NaN,26629.11,7.45,50,2.02,0.49,2.41,1.60,2.98,6.54,1.40,55.45,59.96,95.10,95.94,Divorced,No,Urban,0.77,0.10,High,24.49,8,85,31.52
16,USA,51,Other,Manager,NaN,41764.15,8.19,47,1.29,1.72,1.44,1.16,2.72,6.34,0.35,99.02,39.11,41.98,77.20,In Relationship,Yes,Rural,1.64,0.37,Moderate,23.55,12,149,10.65
18,USA,33,Male,Manager,NaN,6521.03,5.79,47,0.00,0.34,1.88,1.23,1.11,4.86,1.11,28.44,29.96,15.42,16.75,Married,Yes,Rural,0.00,0.77,Severe,41.45,11,99,14.92